<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Highcharts Stock Chart Example</title>
  <!-- Include Bootstrap CSS -->
  <!-- Include Highstock library -->

  <script src="https://code.highcharts.com/stock/modules/data.js"></script>
  <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

  <!-- Include Bootstrap and jQuery JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  <!-- Include Highcharts library -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/stock.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <!-- Custom CSS -->
  <style>
    /* Custom styling for better organization */
    .left-column,
    .right-column {
      padding: 10px;
      font-size: 14px;
    }

    .data-visualization,
    .statistics,
    .filters {
      margin-bottom: 10px;
    }

    .filter-group {
      margin-bottom: 10px;
    }

    /* Minimize left column's screen occupation */
    .left-column {
      flex: 1;
      max-width: 300px;
    }

    /* Style the track and thumb of the range slider */
    .hour-range-filter {
      -webkit-appearance: none;
      width: 100%;
      height: 5px;
      background: #d3d3d3;
      /* Gray track */
      outline: none;
    }

    .hour-range-filter::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: #4caf50;
      /* Green thumb */
      cursor: pointer;
      border-radius: 50%;
    }

    /* Style the selected range display */
    #selected-hours-range {
      margin-top: 5px;
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="block block-rounded">
            <ul class="nav nav-tabs nav-tabs-block align-items-center">
              <li class="nav-item">
                <a class="nav-link text-body-color active" href="javascript:void(0)">
                  <span class="d-sm-none">BTC</span>
                  <span class="d-none d-sm-inline">Bitcoin <span class="text-muted fs-sm">$14.000</span></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body-color" href="javascript:void(0)">
                  <span class="d-sm-none">ETH</span>
                  <span class="d-none d-sm-inline">Ethereum <span class="text-muted fs-sm">$1.100</span></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body-color" href="javascript:void(0)">
                  <span class="d-sm-none">LTC</span>
                  <span class="d-none d-sm-inline">Litecoin <span class="text-muted fs-sm">$250</span></span>
                </a>
              </li>
              <li class="nav-item ms-auto">
                <div class="block-options me-3">
                  <div class="dropdown" role="group">
                    <button type="button" class="btn-block-option" id="crypto-dates" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="si si-calendar"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="crypto-dates" style="">
                      <div class="space-y-1">
                        <button type="button" class="btn btn-sm w-100 btn-alt-secondary" tabindex="-1">Last  Hour</button>
                        <button type="button" class="btn btn-sm w-100 btn-alt-secondary" tabindex="-1">Last  Week</button>
                        <button type="button" class="btn btn-sm w-100 btn-alt-secondary active" tabindex="-1">Last  Month</button>
                        <button type="button" class="btn btn-sm w-100 btn-alt-secondary" tabindex="-1">Last Year</button>
                      </div>
                      <div class="dropdown-divider"></div>
                      <button type="button" class="btn btn-sm w-100 btn-alt-secondary" tabindex="-1">All Time</button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="block-content block-content-full border-bottom">
              <div class="row text-center">
                <div class="col-lg-4 py-3">
                  <div class="fs-1 fw-light text-dark mb-0">
                    $14.000
                  </div>
                  <div class="fs-sm fw-bold text-muted text-uppercase">
                    Bitcoin Price
                  </div>
                </div>
                <div class="col-lg-4 py-3">
                  <div class="fs-1 fw-light text-dark mb-0">
                    <span class="text-success">+</span> $3.500
                  </div>
                  <div class="fs-sm fw-bold text-muted text-uppercase">
                    Since Last Month (USD)
                  </div>
                </div>
                <div class="col-lg-4 py-3">
                  <div class="fs-1 fw-light text-dark mb-0">
                    <span class="text-success">+</span> 133%
                  </div>
                  <div class="fs-sm fw-bold text-muted text-uppercase">
                    Since Last Month (%)
                  </div>
                </div>
              </div>
            </div>
            <div class="block-content block-content-full">
              <!-- Bitcoin Chart.js Container (.js-chartjs-bitcoin class is initialized in js/pages/db_crypto.min.js which was auto compiled from _js/pages/db_crypto.js), for more examples you can check out http://www.chartjs.org/docs/ -->
              <canvas id="js-chartjs-bitcoin" style="height: 400px; display: block; box-sizing: border-box; width: 1104px;" width="1104" height="400"></canvas>
            </div>
          </div>
    <div class="row">
      <div class="col-md-4 left-column">
        <div class="symbols">
          <label for="symbol-selector" class="form-label">Select a Symbol:</label>
          <select id="symbol-selector" class="form-select mb-3">
            <option selected value="">select Symbol</option>
            <option value="instrument/2">@CL</option>
            <option value="instrument/3">@ES</option>
            <option value="instrument/4">@NQ </option>
            <option value="instrument/5">SPY (ETF)</option>
            <option value="instrument/6">USO (ETF) </option>
            <option value="instrument/7">NASQ</option>
            <!-- Add more statistics options here if needed -->
          </select>
        </div>
        <div class="filter-group">
          <label class="form-label">year Range:2000 to 2023</label>
          <div class="mb-3">
            <!-- Add the 'mb-3' class for margin-bottom -->
            <p>
              <input type="text" id="amount" class="form-label" style="border: 0; color: rgb(7, 127, 240); font-weight: bold;"
                size="60" />
            </p>
            <p>
            <div style="width: 100%; color: blue;" id="slider-range"></div> 2000</p>
          </div>
        </div>
        <div class="filters">
          <div class="filter-group">
            <label class="form-label">Months:</label>
            <div class="mb-3">
              <!-- Add the 'mb-3' class for margin-bottom -->
              <select class="form-select month_filter" class="js-example-basic-multiple">
                <option selected value="">select month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
                <!-- Add options for the rest of the months -->
              </select>
            </div>
          </div>
          <div class="filter-group">
            <label class="form-label">Days of the Month:</label>
            <div class="mb-3">
                <select class="form-select day-of-month_filter">
                    <option selected value="">Select Day of the Month</option>
                    <option value="1">1st</option>
                    <option value="2">2nd</option>
                    <option value="3">3rd</option>
                    <option value="4">4th</option>
                    <option value="5">5th</option>
                    <option value="6">6th</option>
                    <option value="7">7th</option>
                    <option value="8">8th</option>
                    <option value="9">9th</option>
                    <option value="10">10th</option>
                    <option value="11">11th</option>
                    <option value="12">12th</option>
                    <option value="13">13th</option>
                    <option value="14">14th</option>
                    <option value="15">15th</option>
                    <option value="16">16th</option>
                    <option value="17">17th</option>
                    <option value="18">18th</option>
                    <option value="19">19th</option>
                    <option value="20">20th</option>
                    <option value="21">21st</option>
                    <option value="22">22nd</option>
                    <option value="23">23rd</option>
                    <option value="24">24th</option>
                    <option value="25">25th</option>
                    <option value="26">26th</option>
                    <option value="27">27th</option>
                    <option value="28">28th</option>
                    <option value="29">29th</option>
                    <option value="30">30th</option>
                    <option value="31">31st</option>
                </select>
            </div>
        </div>
        

          <div class="filter-group">

            <div class="input-group">


            </div>
          </div>

          <div class="filter-group">
            <label class="form-label">Days of the Week:</label>
            <div class="mb-3">
              <!-- Add the 'mb-3' class for margin-bottom -->
              <select class="form-select day-filter">
                <option selected value="">select Day</option>
                <option value="0">Sunday</option>
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
                <!-- Add options for the rest of the days -->
              </select>
            </div>
          </div>

          <div class="filter-group">
            <label class="form-label">Hours:</label>
            <div>
              <input type="range" class="hour-range-filter" min="0" max="23" step="1" value="0" />
              <span id="selected-hours-range">0 - 23</span>
            </div>
          </div>
        </div>
        <div class="statistics">
          <label for="statistic-selector" class="form-label">Select a Statistic:</label>
          <select id="statistic-selector" class="form-select mb-2">
            <option selected value="">select statistics</option>
            <option value="mean">Mean</option>
            <option value="median">Median</option>
            <option value="std_deviation">Standard Deviation</option>
            <option value="sum">sum</option>
            <option value="count">count</option>
            <!-- Add more statistics options here if needed -->
          </select>
        </div>

        <div class="metrics">
          <label for="metric-selector" class="form-label">Select a Metric:</label>
          <select id="metric-selector" class="form-select mb-3">
            <option selected value="">select metric</option>
            <option value="close_close_minus_1">Close - Close (-1)</option>
            <option value="close_open_diff">Close - Open</option>
            <option value="high_low_diff">High - Low</option>
            <option value="high_count">High Count</option>
            <option value="low_count">Low Count</option>
            <option value="high_low_sum">High + Low</option>
            <!-- Add more metrics options here if needed -->
          </select>
        </div>


        <button id="run-statistics" class="btn btn-primary">Run Statistics</button>
      </div>

      <div class="col-md-8 right-column">
        <div class="top-section" style="height: 10%;">

          <!-- Metric Chart Type Selection -->
          <div class="metric-chart-type">
            <label for="chart-type" class="form-label">Chart Type:</label>
            <select id="chart-type" class="form-select mb-3">
              <option selected value="">select chart type</option>
              <option value="line">Line Chart</option>
              <option value="column">column Chart</option>
              <option value="histogram">histogram Chart</option>
              <!-- Add more chart types as needed -->
            </select>
          </div>
          <div class="top-section" style="height: 10%;">
            <!-- Aggregation Time Interval Dropdown -->
            <div class="aggregation-dropdown">
              <label class="form-label">Aggregation Time Interval:</label>
              <select id="aggregation-interval" class="form-select">
                <option selected value="">select aggregation interval</option>
                <option value="1">1 minute</option>
                <option value="5">5 minutes</option>
                <option value="15">15 minutes</option>
                <option value="30">30 minutes</option>
                <option value="60">60 minutes</option>
                <!-- Add more interval options as needed -->
              </select>
            </div>

            <!-- Grouping Criteria Dropdown -->
            <div class="grouping-dropdown">
              <label class="form-label">Group by:</label>
              <select id="grouping-criteria" class="form-select">
                <option selected value="">select group</option>
                <option value="HH.MM">HH:MM Day of the Week</option>
                <option value="day_of_month,HH.MM">Day of Month,HH:MM</option>
                <option value="month_of_year,HH.MM">Month of Year,HH:MM</option>
                <option value="year,HH.MM">Year, HH:MM</option>
                <option value="day_of_week,day">Days of the Week,Day</option>
                <option value="day_of_month,day">Days of Month,Day</option>
                <option value="month_of_year,day">Month of Year,Day</option>
                <option value="day,HH">Day, Hours</option>
                <option value="day,day">Day, Day</option>
              </select>
            </div>

            <!-- Units Dropdown -->
            <div class="units-dropdown">
              <label class="form-label">Units:</label>
              <select id="units" class="form-select">
                <option selected value="">select units</option>
                <option value="unit1">Unit 1</option>
                <option value="unit2">Unit 2</option>
                <option value="unit3">Unit 3</option>
                <!-- Add more unit options as needed -->
              </select>
            </div>

          </div>
          <!-- Add the checkboxes for series display -->
          <div class="series-checkboxes">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="series1">
              <label class="form-check-label" for="series1">Series 1</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="all-series">
              <label class="form-check-label" for="all-series">All Series in One Chart</label>
            </div>
          </div>

          <!-- Add a checkbox for displaying chart time as "Europe/Rome" time -->
          <div class="chart-time" style="padding-top: -175px;">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="europe-rome-time">
              <label class="form-check-label" for="europe-rome-time">Europe/Rome Time</label>
            </div>
          </div>
        </div>
        <hr class="separator-line" />

        <div class="bottom-section" style="height: 90%;">
          <!-- Bottom Section Content -->
          <!-- Chart goes here -->
          <div class="chart" id="selected-chart"></div>
          <div class="chart " id="metric-chart-container"></div>
          <!-- Information display -->
          <div id="info-div"></div>
          <!-- Metric Line Chart Container -->
          <div class="chart" id="line-chart"></div>
          <!-- Metric Column Chart Container -->
          <div class="chart" id="column-chart"></div>
          <!-- Metric 3D Column Chart Container -->
          <div class="chart" id="column3d-chart"></div>
        </div>
      </div>
    </div>

    <script>
      // In your Javascript (external .js resource or <script> tag)
      $(document).ready(function () {
        $('.js-example-basic-single').select2();
      });
      $(function () {
        $("#slider-range").slider({
          range: true,
          min: new Date('2000.01.01').getTime() / 1000,
          max: new Date('2023.01.01').getTime() / 1000,
          step: 86400,
          values: [new Date('2005.01.01').getTime() / 1000, new Date('2005.04.01').getTime() / 1000],
          slide: function (event, ui) {
            $("#amount").val((new Date(ui.values[0] * 1000).toDateString()) + " - " + (new Date(ui.values[1] *
              1000)).toDateString());
          }
        });
        $("#amount").val((new Date($("#slider-range").slider("values", 0) * 1000).toDateString()) +
          " - " + (new Date($("#slider-range").slider("values", 1) * 1000)).toDateString());
      });
      var traces = {{ traces | safe }};
      var selectedMonths = [];
      var selectedYear = 2005; // Default selected year
      var selectedDays = [];
      var selectedHours = [];
      var selectedMinutes = [];
      var selectedSeconds = [];
      var chart = null; // Store the chart instance
      // Listen for changes in month checkboxes
      // Function to filter traces based on selected filters
      function filterTracesBySelection() {
        return traces.filter(function (trace) {
          var date = new Date(trace.x);
          var year = date.getFullYear();
          var month = date.getMonth() + 1; // Month is zero-based, so add 1
          var day = date.getDate();
          var hour = date.getHours();

          // Check if the trace's date, year, month, day, and hour match the selected filters
          var isYearSelected = selectedYear === year || selectedYear === 0; // 0 means all years
          var isMonthSelected = selectedMonths.length === 0 || selectedMonths.includes(month);
          var isDaySelected = selectedDays.length === 0 || selectedDays.includes(day);
          var isHourSelected = selectedHours.length === 0 || selectedHours.includes(hour);

          return isYearSelected && isMonthSelected && isDaySelected && isHourSelected;
        });
      }

      function generateHighchartsLineChart() {
        var selectedChartContainer = document.getElementById('selected-chart');
        selectedChartContainer.innerHTML = '';

        var filteredTraces = filterTracesBySelection();
        var selectedChartType = document.getElementById('chart-type').value;

        chart = new Highcharts.stockChart(selectedChartContainer, {
          chart: {
            type: 'line',
          },
          title: {
            text: 'Line Chart',
          },
          xAxis: {
            type: 'datetime',
          },
          yAxis: {
            title: {
              text: 'Y-Axis Title',
            },
          },
          series: [{
            name: 'Series Name',
            data: filteredTraces.map(function (trace) {
              return [
                new Date(trace.x).getTime(), // Convert to milliseconds
                trace.mean_close_close_minus_1,
              ];
            }),
          }],
          // Add Highcharts stock tools (range selector, navigation buttons, etc.)
          rangeSelector: {
            enabled: true, // Enable the range selector
          },
          navigator: {
            enabled: true, // Enable the navigator for zooming
          },
          scrollbar: {
            enabled: true, // Enable the scrollbar for scrolling
          },
          legend: {
            enabled: true, // Enable the legend
          },
        });
      }


      // Function to generate a Highchart stock chart
      // Define data grouping options

      var groupingOptions = {
        "HH.MM": {
          units: [
            ["hour", [1]]
          ]
        },
        "day_of_month,HH.MM": {
          units: [
            ["day", [1]]
          ]
        },
        "month_of_year,HH.MM": {
          units: [
            ["month", [1]]
          ]
        },
        "year,HH.MM": {
          units: [
            ["year", [1]]
          ]
        },
        "day_of_week,day": {
          units: [
            ["week", [1]]
          ]
        },
        "day_of_month,day": {
          units: [
            ["month", [1]]
          ]
        },
        "month_of_year,day": {
          units: [
            ["year", [1]]
          ]
        },
        "day,HH": {
          units: [
            ["day", [1]]
          ]
        },
        "day,day": {
          units: [
            ["day", [1]]
          ]
        }
      };

      // Define the chart variable outside the function to make it accessible globally
      var chart;
      var series = [];
      var newData = [];

      function generateHighchartStockChart(chartType, aggregationInterval, groupingCriteria, selectedStatistic,
        selectedMetric) {
        var selectedChartContainer = document.getElementById('selected-chart');
        selectedChartContainer.innerHTML = '';

        var filteredTraces = filterTracesBySelection();
        console.log('Filtered Traces:', filteredTraces);

        if (selectedStatistic === 'mean') {
          series.push({
            name: 'Mean Series',
            data: filteredTraces.map(function (trace) {
              return trace['mean_' + selectedMetric];
            }),
            color: 'blue' // Specify the color for this series
          });
        } else if (selectedStatistic === 'median') {
          series.push({
            name: 'Median Series',
            data: filteredTraces.map(function (trace) {
              return trace['median_' + selectedMetric];
            }),
            color: 'green' // Specify the color for this series
          });
        } else if (selectedStatistic === 'std_deviation') {
          series.push({
            name: 'Standard Deviation Series',
            data: filteredTraces.map(function (trace) {
              return trace['std_dev_' + selectedMetric];
            }),
            color: 'red' // Specify the color for this series
          });
        } else if (selectedStatistic === 'sum') {
          series.push({
            name: 'Sum Series',
            data: filteredTraces.map(function (trace) {
              return trace['sum_' + selectedMetric];
            }),
            color: 'orange' // Specify the color for this series
          });
        } else if (selectedStatistic === 'count') {
          series.push({
            name: 'Count Series',
            data: filteredTraces.map(function (trace) {
              return trace['count_' + selectedMetric];
            }),
            color: 'purple' // Specify the color for this series
          });
        }

        var selectedChartType = document.getElementById('chart-type').value;

        // Define chart configuration based on chartType
        var chartConfig = {
          chart: {
            type: selectedChartType,
            renderTo: selectedChartContainer, // Set the container element
          },
          title: {
            text: selectedYear + ', ' + selectedMonth + ', ' + chartType + ', ' + selectedStatistic + ', ' +
              selectedMetric,
          },
          xAxis: {
            type: 'datetime',
          },
          yAxis: {
            title: {
              text: 'Y-Axis Title',
            },
          },

          series: series, // Use the seriesData array here
          // Add Highcharts stock tools (range selector, navigation buttons, etc.)
          rangeSelector: {
            enabled: true,
          },
          navigator: {
            enabled: true,
          },
          scrollbar: {
            enabled: true,
          },
          legend: {
            enabled: true,
          },
        };

        // Generate the chart
        chart = new Highcharts.StockChart(chartConfig);

        console.log('new Data:', newData);
      }

      // Add event listener to the "Run Statistics" button
      var runStatisticsButton = document.getElementById('run-statistics');
      runStatisticsButton.addEventListener('click', function () {
        // Get the selected values from dropdowns and other inputs here



        var selectedChartType = document.getElementById('chart-type').value;
        var selectedAggregationInterval = parseInt(document.getElementById('aggregation-interval').value);
        var selectedGroupingCriteria = document.getElementById('grouping-criteria').value;
        var selectedStatistic = document.getElementById('statistic-selector').value;
        var selectedMetric = document.getElementById('metric-selector').value;



        // Function to generate a series object based on selected statistic and metric
        /*function generateSeries(selectedStatistic, selectedMetric, color) {
          return {
            name: selectedStatistic + ' Series',
            data: filteredTraces.map(function (trace) {
              return trace[selectedStatistic + '_' + selectedMetric];
            }),
            color: color,
          };
        }

        // Use the function to generate the series objects
        var meanSeries = generateSeries('mean', selectedMetric, 'blue');
        var medianSeries = generateSeries('median', selectedMetric, 'green');
        var stdDevSeries = generateSeries('std_dev', selectedMetric, 'red');
        var sumSeries = generateSeries('sum', selectedMetric, 'orange');
        var countSeries = generateSeries('count', selectedMetric, 'purple');

        // Add the generated series objects to the 'series' array
        series.push(meanSeries, medianSeries, stdDevSeries, sumSeries, countSeries);

*/
        // Log the selected values to the console for debugging
        console.log('Selected Chart Type:', selectedChartType);
        console.log('Selected Aggregation Interval:', selectedAggregationInterval);
        console.log('Selected Grouping Criteria:', selectedGroupingCriteria);
        console.log('Selected Statistic:', selectedStatistic);
        console.log('Selected Metric:', selectedMetric);

        // Update the chart's data grouping based on the selected criteria
        var selectedGroupingOptions = groupingOptions[selectedGroupingCriteria];
        if (selectedGroupingOptions) {
          chart.series.forEach(function (series) {
            series.update({
              dataGrouping: selectedGroupingOptions,
            });
          });
        }

        var filteredTraces = filterTracesBySelection();
        console.log('Sample data for Mean Series:', filteredTraces.slice(0, 5)); // Log the first 5 entries


        // Add or update the series data
        // Example for 'sum' series:
        var sumSeriesData = filteredTraces.map(function (trace) {
          return [new Date(trace.x).getTime(), trace['sum_' + selectedMetric]];
        });

        // Example for 'count' series:
        var countSeriesData = filteredTraces.map(function (trace) {
          return [new Date(trace.x).getTime(), trace['count_' + selectedMetric]];
        });

        // Example for 'mean' series:
        var meanSeriesData = filteredTraces.map(function (trace) {
          return [new Date(trace.x).getTime(), trace['mean_' + selectedMetric]];
        });

        // Example for 'median' series:
        var medianSeriesData = filteredTraces.map(function (trace) {
          return [new Date(trace.x).getTime(), trace['median_' + selectedMetric]];
        });
        // Example for 'std_deviation' series:
        var stdDevSeriesData = filteredTraces.map(function (trace) {
          return [new Date(trace.x).getTime(), trace['std_dev_' + selectedMetric]];
        });

        chart.addSeries({
          name: 'Standard Deviation Series',
          data: stdDevSeriesData,
          color: 'red'
        }, false);

        chart.addSeries({
          name: 'Sum Series',
          data: sumSeriesData,
          color: 'orange'
        }, false);

        chart.addSeries({
          name: 'Count Series',
          data: countSeriesData,
          color: 'purple'
        }, false);

        chart.addSeries({
          name: 'Mean Series',
          data: meanSeriesData,
          color: 'blue'
        }, false);

        chart.addSeries({
          name: 'Median Series',
          data: medianSeriesData,
          color: 'green'
        }, false); // true to redraw the chart after adding series

        // Redraw the chart
        chart.redraw();

        // Update the X-axis datetime range based on the selected time filters
        // Update the X-axis datetime range based on the selected time filters
        var selectedMonth = parseInt(document.querySelector('.month_filter').value);
        var yearRange = $("#slider-range").slider("values");
        var startYear = yearRange[0] * 1000;
        var endYear = yearRange[1] * 1000;
        var selectedDayOfWeek = parseInt(document.querySelector('.day-filter').value);
        var selectedHour = parseInt(document.querySelector('.hour-range-filter').value);
        var selectedMinute = 0; // You can set this to the selected minute value
        const startyear1 = new Date(startYear);
        const startyear = startyear1.getUTCFullYear();
        const endyear1 = new Date(endYear);
        const endyear = endyear1.getUTCFullYear();

        // Calculate the start and end date based on the selected filters
        var startDate = new Date(startyear, selectedMonth - 1, 1, selectedHour, selectedMinute, 0);
        startDate.setDate(1 + (selectedDayOfWeek - startDate.getDay() + 7) % 7); // Set the day of the week
        var endDate = new Date(endyear, selectedMonth, 1, selectedHour, selectedMinute, 0);
        endDate.setDate(1 + (selectedDayOfWeek - endDate.getDay() + 7) % 7); // Set the day of the week


        // Convert the start and end date to UTC timestamps
        var startDateUTC = Date.UTC(
          startDate.getUTCFullYear(),
          startDate.getUTCMonth(),
          startDate.getUTCDate(),
          startDate.getUTCHours(),
          startDate.getUTCMinutes(),
          startDate.getUTCSeconds()
        );
        var endDateUTC = Date.UTC(
          endDate.getUTCFullYear(),
          endDate.getUTCMonth(),
          endDate.getUTCDate(),
          endDate.getUTCHours(),
          endDate.getUTCMinutes(),
          endDate.getUTCSeconds()
        );

        // Set the X-axis extremes to update the datetime range
        chart.xAxis[0].setExtremes(startDateUTC, endDateUTC);
        chart.setTitle({
          text: selectedYear + ', ' + selectedMonth + ', ' + selectedChartType + ', ' + selectedStatistic +
            ', ' + selectedMetric,
        });
        console.log('Series Data:', series);

      });
      var series1Checkbox = document.getElementById('series1');

      // Add event listener to the "All Series in One Chart" checkbox
      var allSeriesCheckbox = document.getElementById('all-series');
      allSeriesCheckbox.addEventListener('change', function () {
        console.log('Checkbox changed!'); // Add this line for debugging
        console.log('allSeriesCheckbox.checked:', allSeriesCheckbox.checked); // Add this line to check the value
        if (allSeriesCheckbox.checked) {
          // Add all series to the chart
          for (var i = 0; i < seriesData.length; i++) {
            console.log('Adding series to chart:', seriesData[i]);
            chart.addSeries(seriesData[i]);
            console.log(seriesData[i]);
          }
        } else {
          // Remove all series from the chart
          while (chart.series.length > 0) {
            //chart.series[0].remove();
          }
        }
      });

      series1Checkbox.addEventListener('change', function () {
        if (series1Checkbox.checked) {

          // Add other series as needed
        } else {
          chart.series.forEach(function (series) {
            if (series.name === 'Mean Series' || series.name === 'Median Series ') {
              series.remove();
            }
            // Remove other series as needed
          });
        }
      });

      
      generateHighchartsLineChart()
    </script>

    <style>
      /* Add CSS styles for the layout here */
      .container {
        display: flex;
        width: 100%;
      }

      .left-column {
        flex: 0.24;
        /* Adjust the flex value as needed */
        padding: 10px;
        border-right: 1px solid #ccc;
        max-height: 600;
        font-size: 12px;
      }


      .right-column {
        flex: 0.86;
        display: flex;
        /* Add this to enable nested flex layout */
        flex-direction: column;
        /* Create a column layout for the right column */
        padding: 10px;
        font-size: 12px;
      }

      .chart {
        flex: 1;
        /* The chart takes up all available space in the right column */
        width: 100%;
        height: 100%;
        /* Adjust the height as needed */
      }

      /* Add styles for the top section */
      .top-section {
        flex: 0.2;
        /* Adjust the flex value for the top section */

        /*background-color: lightgray; /* Add your background color */

      }

      .grouping-dropdown,
      .aggregation-dropdown,
      .metric-chart-type,
      .units-dropdown {
        float: left;
        margin-right: 10px;
        /* Add spacing between elements */
      }


      /* Add styles for the bottom section */
      .bottom-section {
        flex: 0.8;
        /* Adjust the flex value for the bottom section */
        /*overflow: auto; /* Add overflow for scrolling if content overflows */
      }

      /* Adjust the styles as needed */
      /* Style the series display checkboxes */
      .series-checkboxes {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        /* Add some spacing above the checkboxes */
      }

      .form-check {
        margin-bottom: 5px;
        /* Add spacing between checkboxes */
      }

      /* Style the chart time display */
      .chart-time {
        margin-top: 10px;
        /* Add spacing above the chart time */
        font-weight: bold;
      }

      /* Style for the font size within the dropdowns */
      .form-select,
      .form-check-label,
      .input-group-text {
        font-size: 10px;
        /* You can adjust the size as needed */
      }

      /* Style for the labels within the dropdowns */
      .form-label {
        font-size: 10px;
        /* You can adjust the size as needed */
      }

      /* Style for the labels above the dropdowns */
      .filter-group .form-label {
        font-size: 10px;
        /* You can adjust the size as needed */
      }

      /* Style for the button */
      #run-statistics {
        font-size: 10px;
        /* You can adjust the size as needed */
      }

      /* Style for the checkboxes and their labels */
      .form-check-input {
        width: 11px;
        /* You can adjust the size as needed */
        height: 11px;
        /* You can adjust the size as needed */
      }

      .form-check-label {
        font-size: 11px;
        /* You can adjust the size as needed */
      }
    </style>
</body>

</html>
